* {
    font-family: "Nanum Gothic" sans-serif;
    margin: 0;
    padding: 0;
}

a {
    color: black;
    text-decoration: none;
}

.top-bar-fix{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    box-shadow: 0px 1px 0px 1px rgb(225, 227, 230);
}

.pd-top-80 {
    padding-top: 80px;
}

.nav-none {
    display: none !important;
}

/* banner-sub */
.banner-sub {
    text-align: center;
    background-color: #fafafa;
    height: 58px;
    line-height: 58px;
    font-size: 13px;
}

.banner-sub a {
    text-decoration: underline;
}

.learn-more {
    font-weight: bold;
}

/* banner-main */
.banner-main {
    height: 80px;
    font-size: 12px;
    background-color: white;
    z-index: 2;
    width: 100%;
}

.main-inner {
    max-width: 1150px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
}

.logo-link {
    height: 100%;
}

.banner-logo {
    height: 100%;
    width: 104px;
}

.banner-nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 500px;
    height: 100%;
    font-weight: bold;
    cursor: pointer;
}

.banner-button {
    padding: 11px;
    border-radius: 20px;
    display: inline-block;
    vertical-align: middle;
}

.banner-button .button-nation {
    height: 16px;
}

.banner-button .button-nation:hover {
    color: rgba(225, 227, 230, 0.3);
}

.banner-button:hover {
    background-color: rgba(225, 227, 230, 0.3);
}

.sign-up {
    border: 1px solid none;
    border-radius: 20px;
    box-shadow: 0px 1px 0px 2px rgba(225, 227, 230, 0.7);
    padding: 13px;
}

.sign-up:hover {
    box-shadow: 0px 1px 5px 2px rgba(225, 227, 230, 0.7);
}

/* banner-nav-sub */
.banner-nav-sub {
    display: none;
}

.nav-change {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;
    font-weight: bold;
    cursor: pointer;
}

.banner-search {
    display: flex;
    justify-content: center;
    width: 790px;
    padding: 0px 24px;
    text-align: center;
}

.ban-search-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 335px;
    height: 46px;
    border: 1px solid rgb(225, 227, 230);
    border-radius: 10px;
    box-shadow: 0px 1px 0px 0.7px rgba(225, 227, 230, 0.7);
}

.ban-search-inner:hover {
    box-shadow: 0px 1px 5px 2px rgba(225, 227, 230, 0.7);
}

.ban-search-inner p {
    padding: 0px 14px;
    height: 46px;
    line-height: 46px;
    font-size: 12px;
    border-right: 1px solid rgb(225, 227, 230);
    color: rgba(0, 0, 0, 0.4);
}

.ban-search-inner p:hover {
    color: black;
}

.ban-search-inner img {
    height: 16px;
    padding: 0px 17px;
}

/* 여기부터 윤주 */
.option-banner{
    max-width:1150px;
    margin: auto;
}

.new-icon{
    width: 33px;
    height: 20.6px;
    margin: 0px 0px 0px 8px;
    border-radius: 5px;
    background-color:rgb(255, 56, 92);
    display: flex;
    justify-content: center;
}

.new-message{
    font-size: 10px;
    line-height: 20.6px;
    color: white;
}

.travel-type{
    max-width:1150px;
    display:flex;
    width: 300px;
    justify-content: space-around;
    align-items: center;
    font-size: 16px;
    margin: 20px 0px 0px 0px;
}
.travel-option{
    display: flex;
    border:0px;
    background-color: white;
    font-size: 16px;
    padding: 0px;
}

.search{
    max-width:1150px;
    display: flex;
    justify-content: center;
    margin: 12px 0px auto;
    border: solid 0px gray;
    border-radius: 10px;
    box-shadow: 4px 6px 10px #d9dede;
}

.search label{
    font-size:10px;
}

.search form {
    width: 300px;
    margin:auto;
    padding: 16px 22px;    
}

.search form input{
    width: 350px;
    border:0px;
    font-size:14px;
}

.search-button{
    margin: auto;
}

#button{
    width: 80px;
    height: 36px;
    display:flex;
    align-items: center;
    justify-content: center;
    background-color: #F93359;
    color:white;
    border: 0px;
    border-radius: 12px;
    font-weight: bold;
    margin: 5px;
    background-image: url("images/search_icon.jpg");
}
#button img{
    width: 20px;
    /*z-index:2;*/
}

.sear-icon{
    margin: 0px 0px 0px 8px;
}

#message-inner{
    max-width: 1150px;
    margin: auto;
}

#message{
    max-width:1150px;
    font-size: 3em;
    margin: 48px 0px ;
    background-image: linear-gradient(to right, rgb(143, 26, 77),rgb(230, 96, 140));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.starter{
    max-width: 1150px;
    display: flex;
    justify-content: space-around;
    padding: 0px 0px 60px 0px;
    margin: auto;
}

.starter .starter-option{
    width:375px;
    box-shadow: 2px 4px 10px #d9dede;
    border-radius: 10px;
    overflow: hidden;
}

.starter img{
    height: 260px;
}

.subtitle{
    font: size 20px;
    text-decoration: none ;
    color: black;
}

.content{
    font-size: 14px;
    color: gray;
    text-decoration: none;
}
.intro {
    display: grid;
    height:700px;
    margin:0;
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows: 15fr 31.8fr 10fr 34fr 10fr;
    background-color: black;
    grid-gap:1.5%;
    padding-left:5%;
    padding-right: 5%;
    padding-top: 5%;
    padding-bottom:5%;
    align-content: center;
  }
.top{border:solid 0.1% black ;
        background-color: black;
        grid-area: 1/1/2/4;
        text-align: left;
        display: flex;
        justify-content: space-between;
    }
.top-button{    
    width:90px;
    height:20px;
    border: solid white 1px;
    border-radius: 6px;
    font-size: 15px;
    text-align: center;
    padding-top: 5px;
    color: white;
    
}
.left{border: solid 0.1% #dbdbdb;
        background-color: black;
        grid-area: 2/1/6/2;
        border-radius: 5%;
        overflow: hidden;
        z-index: 0;
    } 
.right1{border: solid 0.1% #dbdbdb;
        background-color: black;
        grid-area: 2/2/4/3;
        border-radius: 5%;
        overflow: hidden;
        z-index: 0;
    }
.right2{border: solid 0.1% #dbdbdb;
        background-color: black;
        grid-area: 2/3/4/4;
        border-radius: 5%;
        overflow: hidden;
        z-index: 0;
    }
.bottom{border: solid 0.1% #dbdbdb;
        background-color: antiquewhite;
        grid-area: 4/2/6/4;
        border-radius: 5%;
        overflow: hidden;
        align-items: center;
        z-index: 0;
    }
#content-text{
    color:white;
    font-size:16px;
    line-height: 130%;
}

.corona{
    display:grid;
    grid-template-columns: 1fr 1fr;
    width:86%;
    height:170px;
    background-color: white;
    padding-left:7%;
    padding-right:7%;
    padding-top:80px;
    padding-bottom:80px;
}
.corona1{
    color:black;
    font-size:30px;
    font-weight: bold;
}
.corona-button{
    width:90px;
    height:30px;
    border: solid black 1px;
    border-radius: 6px;
    font-size: 15px;
    text-align: center;
    margin-top: 25px;
    padding-top: 10px;
}
#corona-text2{
    color: black;
    font-size: 20px;
    line-height: 170%;
}
.corona2{
    color:rgb(39, 39, 39);
    font-size: 18px;
}
#corona-text2{
    color: rgb(77, 76, 76);
    font-size: 17px;
}
.left img{
    width: 100%;
    height: 100%;
    z-index: 0;
    
}

.right1 img{
    width:100%;
    height: 100%;
    z-index: 0;
    
}

.right2 img{
    width: 100%;
    height: 100%;
    z-index: 0;
    
}
.bottom img{
    width: 100%;
    height: 100%;
    z-index: 0;
    align-items: center;
}
.right2-text{
    grid-area:3/3/4/4;
    background-color: rgb(54, 52, 52);
    z-index: 1;
    border-bottom-left-radius: 5%;
    border-bottom-right-radius: 5%;
    overflow:hidden;
    padding:10px;

}
.right1-text{
    grid-area:3/2/4/3;
    background-color: rgb(54, 52, 52);
    z-index: 1;
    border-bottom-left-radius: 5%;
    border-bottom-right-radius: 5%;
    overflow:hidden;
    padding:10px;
}
.left-text{
    grid-area:5/1/6/2;
    background-color: rgb(54, 52, 52);
    z-index: 1;
    border-bottom-left-radius: 5%;
    border-bottom-right-radius: 5%;
    overflow:hidden;
    padding:2%;
    color: white;
}
.bottom-text{
    grid-area:5/2/6/4;
    background-color: rgb(54, 52, 52);
    z-index: 1;
    border-bottom-left-radius: 5%;
    border-bottom-right-radius: 5%;
    overflow:hidden;
    padding:2%;
}
.newinfo{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 1%;
    height: 250px;
    padding: 8% 10%;
    background-color: rgb(243, 240, 240);
}
.info-title{
    grid-area:1/1/2/5;
    background-color: rgb(243, 240, 240);}
.guest-title{
    grid-area:2/1/3/2;
    background-color: rgb(243, 240, 240);
    padding-top: 4%;
    padding-bottom: 4%;
}
.guest-info1{
    grid-area:3/1/4/2;
    background-color: rgb(243, 240, 240);
    border-top: solid rgb(207, 207, 207) 2px;
    padding-top: 4%;
    padding-bottom: 4%;
}
.guest-info2{
    grid-area:4/1/5/2;
    background-color: rgb(243, 240, 240);
    border-top: solid rgb(207, 207, 207) 2px;
    padding-top: 4%;
    padding-bottom: 4%;
}
.guest-info3{
    grid-area:5/1/6/2;
    background-color: rgb(243, 240, 240);
    border-top: solid rgb(207, 207, 207) 2px;
    padding-top: 4%;
    padding-bottom: 4%;
}
.host-title{
    grid-area:2/2/3/3;
    background-color: rgb(243, 240, 240);
    padding-top: 4%;
    padding-bottom: 4%;
}
.host-info1{
    grid-area:3/2/4/3;
    background-color: rgb(243, 240, 240);
    border-top: solid rgb(207, 207, 207) 2px;
    padding-top: 4%;
    padding-bottom: 4%;
}
.host-info2{
    grid-area:4/2/5/3;
    background-color: rgb(243, 240, 240);
    border-top: solid rgb(207, 207, 207) 2px;
    padding-top: 4%;
    padding-bottom: 4%;
}
.host-info3{
    grid-area:5/2/6/3;
    background-color: rgb(243, 240, 240);
    border-top: solid rgb(207, 207, 207) 2px;
    padding-top: 4%;
    padding-bottom: 4%;
}
.corona-title{
    grid-area:2/3/3/4;
    background-color: rgb(243, 240, 240);
    padding-top: 4%;
    padding-bottom: 4%;
}
.corona-info1{
    grid-area:3/3/4/4;
    background-color: rgb(243, 240, 240);
    border-top: solid rgb(207, 207, 207) 2px;
    padding-top: 4%;
    padding-bottom: 4%;
}
.corona-info2{
    grid-area:4/3/5/4;
    background-color: rgb(243, 240, 240);
    border-top: solid rgb(207, 207, 207) 2px;
    padding-top: 4%;
    padding-bottom: 4%;
}
.corona-info3{
    grid-area:5/3/6/4;
    background-color: rgb(243, 240, 240);
    border-top: solid rgb(207, 207, 207) 2px;
    padding-top: 4%;
    padding-bottom: 4%;
}
.etc-title{
    grid-area:2/4/3/5;
    background-color: rgb(243, 240, 240);
    padding-top: 4%;
    padding-bottom: 4%;
}
.etc-info1{
    grid-area:3/4/4/5;
    background-color: rgb(243, 240, 240);
    border-top: solid rgb(207, 207, 207) 2px;
    padding-top: 4%;
    padding-bottom: 4%;
}
.etc-info2{
    grid-area:4/4/5/5;
    background-color: rgb(243, 240, 240);
    border-top: solid rgb(207, 207, 207) 2px;
    padding-top: 4%;
    padding-bottom: 4%;
}
.etc-info3{
    grid-area:5/4/6/5;
    background-color: rgb(243, 240, 240);
    padding-top: 4%;
    padding-bottom: 4%;
}
#info-text1{
    font-size:20px;
    color:black;

}
#info-text2{
    font-size:18px;
    color: black;
}
#info-text3{
    font-size:12px;
    color: rgb(107, 106, 106);

}
h1{
    color:white;
    font-size: 35px;
    font-weight: bold;
}
h2{
    color:black;
    font-size:22px;
    font-weight:bold;
}

a {
    text-decoration: none;
}


.intro {
    display: grid;
    height:700px;
    margin:0;
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows: 15fr 31.8fr 10fr 34fr 10fr;
    background-color: black;
    grid-gap:1.5%;
    padding-left:5%;
    padding-right: 5%;
    padding-top: 5%;
    padding-bottom:5%;
    align-content: center;
  }
.top{border:solid 0.1% black ;
        background-color: black;
        grid-area: 1/1/2/4;
        text-align: left;
        display: flex;
        justify-content: space-between;
    }
.top-button{    
    width:90px;
    height:20px;
    border: solid white 1px;
    border-radius: 6px;
    font-size: 15px;
    text-align: center;
    padding-top: 5px;
    color: white;
    
}
.left{border: solid 0.1% #dbdbdb;
        background-color: black;
        grid-area: 2/1/6/2;
        border-radius: 5%;
        overflow: hidden;
        z-index: 0;
    } 
.right1{border: solid 0.1% #dbdbdb;
        background-color: black;
        grid-area: 2/2/4/3;
        border-radius: 5%;
        overflow: hidden;
        z-index: 0;
    }
.right2{border: solid 0.1% #dbdbdb;
        background-color: black;
        grid-area: 2/3/4/4;
        border-radius: 5%;
        overflow: hidden;
        z-index: 0;
    }
.bottom{border: solid 0.1% #dbdbdb;
        background-color: antiquewhite;
        grid-area: 4/2/6/4;
        border-radius: 5%;
        overflow: hidden;
        align-items: center;
        z-index: 0;
    }
#content-text{
    color:white;
    font-size:16px;
    line-height: 130%;
}

.corona{
    display:grid;
    grid-template-columns: 1fr 1fr;
    width:86%;
    height:170px;
    background-color: white;
    padding-left:7%;
    padding-right:7%;
    padding-top:80px;
    padding-bottom:80px;
}
.corona1{
    color:black;
    font-size:30px;
    font-weight: bold;
}
.corona-button{
    width:90px;
    height:30px;
    border: solid black 1px;
    border-radius: 6px;
    font-size: 15px;
    text-align: center;
    margin-top: 25px;
    padding-top: 10px;
}
#corona-text2{
    color: black;
    font-size: 20px;
    line-height: 170%;
}
.corona2{
    color:rgb(39, 39, 39);
    font-size: 18px;
}
#corona-text2{
    color: rgb(77, 76, 76);
    font-size: 17px;
}
.left img{
    width: 100%;
    height: 100%;
    z-index: 0;
    
}

.right1 img{
    width:100%;
    height: 100%;
    z-index: 0;
    
}

.right2 img{
    width: 100%;
    height: 100%;
    z-index: 0;
    
}
.bottom img{
    width: 100%;
    height: 100%;
    z-index: 0;
    align-items: center;
}
.right2-text{
    grid-area:3/3/4/4;
    background-color: rgb(54, 52, 52);
    z-index: 1;
    border-bottom-left-radius: 5%;
    border-bottom-right-radius: 5%;
    overflow:hidden;
    padding:10px;

}
.right1-text{
    grid-area:3/2/4/3;
    background-color: rgb(54, 52, 52);
    z-index: 1;
    border-bottom-left-radius: 5%;
    border-bottom-right-radius: 5%;
    overflow:hidden;
    padding:10px;
}
.left-text{
    grid-area:5/1/6/2;
    background-color: rgb(54, 52, 52);
    z-index: 1;
    border-bottom-left-radius: 5%;
    border-bottom-right-radius: 5%;
    overflow:hidden;
    padding:2%;
    color: white;
}
.bottom-text{
    grid-area:5/2/6/4;
    background-color: rgb(54, 52, 52);
    z-index: 1;
    border-bottom-left-radius: 5%;
    border-bottom-right-radius: 5%;
    overflow:hidden;
    padding:2%;
}
.newinfo{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 1%;
    height: 250px;
    padding: 8% 10%;
    background-color: rgb(243, 240, 240);
}
.info-title{
    grid-area:1/1/2/5;
    background-color: rgb(243, 240, 240);}
.guest-title{
    grid-area:2/1/3/2;
    background-color: rgb(243, 240, 240);
    padding-top: 4%;
    padding-bottom: 4%;
}
.guest-info1{
    grid-area:3/1/4/2;
    background-color: rgb(243, 240, 240);
    border-top: solid rgb(207, 207, 207) 2px;
    padding-top: 4%;
    padding-bottom: 4%;
}
.guest-info2{
    grid-area:4/1/5/2;
    background-color: rgb(243, 240, 240);
    border-top: solid rgb(207, 207, 207) 2px;
    padding-top: 4%;
    padding-bottom: 4%;
}
.guest-info3{
    grid-area:5/1/6/2;
    background-color: rgb(243, 240, 240);
    border-top: solid rgb(207, 207, 207) 2px;
    padding-top: 4%;
    padding-bottom: 4%;
}
.host-title{
    grid-area:2/2/3/3;
    background-color: rgb(243, 240, 240);
    padding-top: 4%;
    padding-bottom: 4%;
}
.host-info1{
    grid-area:3/2/4/3;
    background-color: rgb(243, 240, 240);
    border-top: solid rgb(207, 207, 207) 2px;
    padding-top: 4%;
    padding-bottom: 4%;
}
.host-info2{
    grid-area:4/2/5/3;
    background-color: rgb(243, 240, 240);
    border-top: solid rgb(207, 207, 207) 2px;
    padding-top: 4%;
    padding-bottom: 4%;
}
.host-info3{
    grid-area:5/2/6/3;
    background-color: rgb(243, 240, 240);
    border-top: solid rgb(207, 207, 207) 2px;
    padding-top: 4%;
    padding-bottom: 4%;
}
.corona-title{
    grid-area:2/3/3/4;
    background-color: rgb(243, 240, 240);
    padding-top: 4%;
    padding-bottom: 4%;
}
.corona-info1{
    grid-area:3/3/4/4;
    background-color: rgb(243, 240, 240);
    border-top: solid rgb(207, 207, 207) 2px;
    padding-top: 4%;
    padding-bottom: 4%;
}
.corona-info2{
    grid-area:4/3/5/4;
    background-color: rgb(243, 240, 240);
    border-top: solid rgb(207, 207, 207) 2px;
    padding-top: 4%;
    padding-bottom: 4%;
}
.corona-info3{
    grid-area:5/3/6/4;
    background-color: rgb(243, 240, 240);
    border-top: solid rgb(207, 207, 207) 2px;
    padding-top: 4%;
    padding-bottom: 4%;
}
.etc-title{
    grid-area:2/4/3/5;
    background-color: rgb(243, 240, 240);
    padding-top: 4%;
    padding-bottom: 4%;
}
.etc-info1{
    grid-area:3/4/4/5;
    background-color: rgb(243, 240, 240);
    border-top: solid rgb(207, 207, 207) 2px;
    padding-top: 4%;
    padding-bottom: 4%;
}
.etc-info2{
    grid-area:4/4/5/5;
    background-color: rgb(243, 240, 240);
    border-top: solid rgb(207, 207, 207) 2px;
    padding-top: 4%;
    padding-bottom: 4%;
}
.etc-info3{
    grid-area:5/4/6/5;
    background-color: rgb(243, 240, 240);
    padding-top: 4%;
    padding-bottom: 4%;
}
#info-text1{
    font-size:20px;
    color:black;

}
#info-text2{
    font-size:18px;
    color: black;
}
#info-text3{
    font-size:12px;
    color: rgb(107, 106, 106);

}
h1{
    color:white;
    font-size: 35px;
    font-weight: bold;
}
h2{color:black;
    font-size:22px;
    font-weight:bold;
}

a {text-decoration: none;}
/* footer */

footer {
    height: 2000px;
}
footer {
    height: 400px;
}

.footer-inner {
    max-width: 1150px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer-inner li a:hover {
    text-decoration: underline;
    color: rgba(0, 0, 0, 0.7);
    cursor: pointer;
}


/* menu section */
.footer-menu {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 82.5%;
    padding: 48px 0px;
}

.footer-menu .menu {
    padding-left: 12px;
    padding-right: 12px;
    width: 25%;
}
.menu .menu-lists li {
    list-style: none;
    margin-top: 16px;
    height: 20px;
    font-size: 13px;
}

.menu-heading {
    height: 17px;
}

/* reference section */
.footer-ref {
    height: 17.5%;
    display: flex;
    align-items: center;
    border-top: 1px solid rgba(225, 227, 230, 0.8);
}

.ref-lists li {
    display: inline-block;
    list-style: none;
    font-size: 13px;
}

.ref-lists span {
    padding: 0px 10px;
}

.footer-tail {
    display: flex;
    justify-content: space-between;
}

.footer-nation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 50px;
    width: 180px;
    font-size: 14px;
    font-weight: bold;
    text-decoration: underline;
    cursor: pointer;
}

.footer-language:hover {
    color: rgba(0, 0, 0, 0.7);
}

.footer-currency:hover {
    color: rgba(0, 0, 0, 0.7);
}

.footer-nation img {
    height: 14px;
    padding-right: 10px;
}

.footer-currency .currency {
    width: 14px;
    height: 10px;
}

.footer-icon {
    display: flex;
    justify-content: space-between;
    width: 200px;
}

.footer-icon .icon {
    width: 18px;
    height: 18px;
}

.footer-icon .icon img {
    width: 100%;
    height: 100%;
}
