.search{
    width:1200px;
    display: flex;
    justify-content: center;
    margin: auto;
    border: solid 0px gray;
    border-radius: 10px;
    box-shadow: 4px 6px 10px #d9dede;
}

.search label{
    font-size:10px;
}

.search form {
    width:400px;
}

.search form input{
    width: 370px;
    border:0px;
    font-size:14px;
}
#button{
    width:120px;
}
#button img{
    width: 20px;
}

button{
    width:70px;
    height: 40px;
    background-color: #cc2954;
    color:white;
    border: 0px;
    border-radius: 12px;
    font-weight: bold;
    margin: 5px;
    background-image: url("images/search_icon.jpg");
}
#message-inner{
    width: 1200px;
    display: flex;
    justify-content: center;
}
#message{
    width:900px;
    font-size: 3em;
    margin: 48px 0px;
    display: flex;
    justify-content: flex-start;  
    color: #a1233e ; 
}

.starter{
    width: 1200px;
    display: flex;
    justify-content: space-around;
    margin:auto;
}
.starter .starter-option{
    width:390px;
    box-shadow: 2px 4px 10px #d9dede;
    border-radius: 10px;
    overflow: hidden;
}

.starter img{
    width: 390px;
}

.subtitle{
    font: size 20px;
    text-decoration: none ;
    color: black;
}

.content{
    font-size: 14px;
    color: gray;
    text-decoration: none;
}

a{
    text-decoration: none;
}
